.container {
  max-width: $inner-width;
  margin: 0 auto;
  padding: 0 $sp-2xl;
}

.line-break-mobile {
  display: none;
  @include m {
    display: inline;
  }
}

.section-label {
  display: inline-block;
  margin-bottom: $sp-md;
  color: rgba($clr-main, 0.6);
  font-size: $fs-caption;
  font-weight: 600;
  text-transform: uppercase;
}

.section-quote {
  margin-bottom: $sp-md;
  color: rgba($clr-main, 0.6);
  font-size: $fs-title;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  @include m {
    font-size: $fs-title-sm;
  }

  @include small-m {
    font-size: $fs-lead;
  }
}

.outro {
  position: relative;
  @include section-padding;
  overflow: hidden;
  padding: $sp-2xl 0;
  border-top: 1px solid rgba($white, 0.1);
  color: $white;
  background: $clr-main;
  @include m {
    padding: $sp-2xl 0;
  }

  &__bg {
    @include bg-overlay(0.6);
    @include grid-bg-white(40px, 0.05);
  }

  .container {
    position: relative;
    z-index: 1;
  }

  h2 {
    max-width: 800px;
    margin-bottom: $sp-xl;
    color: $white;
    line-height: 1.3;
    @include m {
      margin-bottom: $sp-lg;
    }

    span {
      color: rgba($white, 0.5);
    }
  }
}

[data-scroll-animate] {
  opacity: 0;
  transition:
    opacity $trans-slow,
    transform $trans-slow;

  &[data-scroll-animate="fade-up"] {
    transform: translateY(30px);
  }

  &[data-scroll-animate="fade-left"] {
    transform: translateX(60px);
  }

  &[data-scroll-animate="fade-right"] {
    transform: translateX(-60px);
  }

  &[data-scroll-animate="zoom-in"] {
    transform: scale(0.9);
  }

  &.is-animated {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}
