* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $white;
}
::-webkit-scrollbar-thumb {
  background: $color-main;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: $font-base;
  font-size: $fs-base;
  line-height: 1.7;
  color: $color-main;
  background: $white;

  &.is-menu-open {
    overflow: hidden;
  }
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.3;
  color: $color-main;
}

h1 {
  font-size: $fs-5xl;
  font-weight: 800;
  @include t {
    font-size: $fs-3xl;
  }
}

h2 {
  font-size: $fs-3xl;
  font-weight: 700;
  @include t {
    font-size: $fs-2xl;
  }
}

h3 {
  font-size: $fs-xl;
  font-weight: 700;
  @include t {
    font-size: $fs-lg;
  }
}
a {
  color: inherit;
  text-decoration: none;
  transition: $trans;
}
img {
  display: block;
  max-width: 100%;
}
button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}
:focus-visible {
  outline: 2px solid $color-main;
  outline-offset: 2px;
}
